@media (min-width: 768px) {
    .aboutLang {
		height: 100%;
		display: grid;
        grid-template-columns: 45% 45%;
		justify-content: space-between;
		padding: 75px;

	}
	.pageSection {
		grid-column: 1;
		justify-content: left;
		margin-top: 50px;
		background-color: #113132;
	}
	.pageSection p {
		letter-spacing: 3px;
		margin: 50px;
		font-size: 18px;
		color: #D9AD2B;
		border-bottom: 1px solid #D9AD2B;
		border-top: 1px solid #BF7315; 
		line-height: 0.1em;

	}
}
@media (max-width: 768px) {
    .aboutLang {
		height: 100%;
		display: grid;
        grid-template-columns: 90%;
		width: 100%;
		
	}
}

.section-title {
	grid-column: 2;
	padding-top: 20px;
	color: #D99E30;
}
h1 {
	font-size: 70px;
	font-family: 'Merriweather', serif;
	margin-bottom: 50px;
}
 .lang span {
	background:#113132; 
    padding: 10px; 
	font-family: 'Roboto', sans-serif;
	font-variant: normal;
 }
 

