
@media (min-width: 1024px) {
	.about {
		display: grid;
		grid-template-columns: 45% 45%;
		justify-content: space-between;
		padding: 75px;
		align-content: center;
		overflow: visible;
		margin-top: 50px;
		}
	.aboutCv {
		grid-column: 2;
	}
	.row1 {
		text-align: right;
		grid-column: 1;
		}
	.row1 p {
		letter-spacing: 3px;
		margin-top: 30px;
		font-family: "Roboto", sans-serif;
		font-variant: normal;
		font-weight: 500;
		font-size: 20px;
	 	}
	.row1 h1 {
		font-size: 70px;
		font-family: 'Merriweather', serif;
		margin-bottom: 50px;
		color: #D99E30;
	}

	
}
@media (max-width: 1024px){
.about{
	display: grid;
	grid-template-columns: 100%;
	justify-content: right;
	align-content: center;	
	padding: 75px;
	margin-top: 50px;
	}
	.row1 h1 {
		font-size: 70px;
		font-family: 'Merriweather', serif;
		margin-bottom: 50px;
		color: #D99E30;
	}
.row1 p{
	letter-spacing: 1px;
	}
.row1{
	margin-bottom: 50px;
	grid-column: 1;
		}
.aboutCv {
	grid-column: 1;
		
		}

}
@media (max-width: 768px) {
	.about {
		display: grid;
		grid-template-columns: 100%;
		justify-content: right;
		align-content: center;	
		padding: 75px;
		margin-top: 50px;
		}
	.row1 p{
	letter-spacing: 1px;
	margin-top: 30px;
	font-family: "Roboto", sans-serif;
	font-variant: normal;
	font-weight: 500;
	font-size: 20px;
	
	}
	.row1{
	margin-bottom: 50px;
	grid-column: 1;
	}
	.row1 h1 {
		font-size: 70px;
		font-family: 'Merriweather', serif;
		margin-bottom: 50px;
		color: #D99E30;
	}
	.aboutCv {
		grid-column: 1;
		margin-top: 50px;
	
	}
}
.separating {
justify-content: center;
align-content: initial;
background-color: #113132;
padding: 20px;
padding-top: 20px;
}

.separating h4 {
	font-family: 'Merriweather', serif;
	letter-spacing: 5px;
	margin-bottom: 20px;
	color: #D9AD2B;
}
.separating p {
	font-family: 'Roboto', sans-serif;
	font-variant: normal;
	letter-spacing: 3px;
	margin-bottom: 40px;
	color: #D9AD2B;
}
.cardy {
	border-bottom: #D9AD2B 1px solid;
}
.separating hr{
	color: #BF7315;
	background-color: #BF7315;
}


