@media (min-width: 300px){
	.about {
		display: grid;
		grid-template-columns: 100%;
		justify-content: center;
		align-content: center;	
		padding: 40px;
		}
		.row1 p{
			letter-spacing: 1px;
			font-family: "Roboto", sans-serif;
			font-variant: normal;
			font-weight: 500;
			font-size: 17px;
			margin-bottom: 50px;
			}
			.row1{
				grid-column: 1;
				}
				.aboutCv {
					grid-column: 1;
				}
				.about h2 {
					text-align: center;
				}
}
@media (min-width: 768px){
	.about {
		display: grid;
		grid-template-columns: 100%;
		justify-content: center;
		align-content: center;	
		padding: 75px;
		}
	.row1 p{
	letter-spacing: 1px;
	font-family: "Roboto", sans-serif;
	font-variant: normal;
	font-weight: 500;
	font-size: 20px;
	}
	.row1{
	grid-column: 1;
	}
	.aboutCv {
		grid-column: 1;
	}
	.about h2 {
		text-align: center;
	}
}
@media (min-width: 1024px) {
	.about{
		display: grid;
		grid-template-columns: 45% 45%;
		justify-content: space-around;
		align-content: center;	
		padding: 75px;
		}
		.about h2 {
			text-align: left;
		}
	.row1 p{
		letter-spacing: 1px;
		font-variant: normal;
		}
	.row1{
		margin-bottom: 50px;
		grid-column: 1;
			}
	.aboutCv {
		grid-column: 2;
		
			}
}
@media (min-width: 1440px) {
	.about {
		display: grid;
		grid-template-columns: 45% 45%;
		justify-content: space-between;
		padding: 75px;
		align-content: initial;
		overflow: visible;
		}
		.about h2 {
			text-align: left;
		}
	.aboutCv {
		grid-column: 2;
	}
	.row1 {
		text-align: right;
		grid-column: 1;
		}
	.row1 p {
		margin-top: 30px;
		font-family: "Roboto", sans-serif;
		font-variant: normal;
		font-weight: 500;
		font-size: 20px;
	 	}
}




.separating {
justify-content: center;
align-content: initial;
background-color: #113132;
padding: 20px;
padding-top: 20px;
}

.separating h4 {
	font-family: 'Merriweather', serif;
	letter-spacing: 5px;
	margin-bottom: 20px;
	color: #D9AD2B;
}
.separating p {
	font-family: 'Roboto', sans-serif;
	font-variant: normal;
	letter-spacing: 3px;
	margin-bottom: 40px;
	color: #D9AD2B;
}
.cardy {
	border-bottom: #D9AD2B 1px solid;
}
.separating hr{
	color: #BF7315;
	background-color: #BF7315;
}


