.lang span {
	background:#113132; 
    padding: 20px; 
	font-family: 'Roboto', sans-serif;
	font-variant: normal;
 }
 .pageSection{
	background-color: #113132
 }
 .pageSection p{
	color: #D9AD2B;
	border-bottom: 1px solid #D9AD2B;
	border-top: 1px solid #BF7315; 
	line-height: 0.1em;
	margin: 50px 20px;
	text-align: left;
 }
.section-title{
	color: #D99E30;
}
h1 {
	font-family: 'Merriweather', serif;
}
 
@media (min-width: 300px) {
    .aboutLang {
		height: 100%;
		display: grid;
        grid-template-columns: 100%;
		width: 100%;		
		justify-content: space-evenly;
		padding: 40px;
	}
	.pageSection {
		grid-column: 1;
		justify-content: left;
		background-color: #113132;
	}
	.section-title {
		grid-column: 1;
		color: #D99E30;
	}
}
@media (min-width: 768px) {
    .aboutLang {
		height: 100%;
		display: grid;
        grid-template-columns: 100%;
		width: 100%;		
		justify-content: space-between;
		padding: 75px;
	}
	.pageSection {
		grid-column: 1;
		justify-content: left;
		background-color: #113132;
	}
	.section-title {
		grid-column: 1;
		color: #D99E30;
		text-align: center;
	}
}
@media (min-width: 1024px){
	.aboutLang {
		height: 100%;
		display: grid;
        grid-template-columns: 45% 45%;
		grid-template-rows: 100%;
		justify-content: space-between;
		padding: 75px;

	}
	.pageSection {
		grid-row: 1;
		grid-column: 1;
		justify-content: left;
	}
	.pageSection p {
		letter-spacing: 3px;
		font-size: 18px;
		text-align: left;
	}
	
.section-title {
	grid-row: 1;
	grid-column: 2;
	text-align: right;
}

}
@media (min-width: 1400px){
	.aboutLang {
		height: 100%;
		display: grid;
        grid-template-columns: 45% 45%;
		grid-template-rows: 100%;
		justify-content: space-between;
		padding: 75px;

	}
	.section-title {
		grid-column: 2;
		color: #D99E30;
		text-align: right;
	}
	.pageSection {
		grid-column: 1;
		grid-row: 1;
		justify-content: left;
		background-color: #113132;
	}
	.pageSection p {
		letter-spacing: 3px;
		margin: 50px;
		font-size: 18px;
		color: #D9AD2B;
		border-bottom: 1px solid #D9AD2B;
		border-top: 1px solid #BF7315; 
		line-height: 0.1em;
	}
	

h1 {
	font-size: 70px;
}
}


