.linky{
    margin-top: 20px;
}
.contact-link {
    display: flex;
    align-items: center;
    border: #D99E30 5px solid;
}
.contact-link a {
    color: #333;

}

@media (min-width: 300px){
   #email{
       font-size: smaller;
   }

    .contact {
        display: grid;
        grid-template-columns: 100%;
        justify-content: space-between;
        padding: 20px;
        align-content: center;
        margin-bottom: 10px;
    }
    
    .contactme {
        grid-column: 1;
        justify-content: center;
    }
    
    .contactme h2 {
        text-align: center;

    }
    .contact-link {
        margin-top: 50px;
        margin-bottom: 50px;
        align-items: center;
    }
    .contact-link a {
        font-size: 10px;
        font-family: "Roboto", sans-serif;
        margin: 20px;
        font-weight: lighter;
    }
    .contact-link svg {
        margin: 20px;
    }
}
@media (min-width: 768px){
    .contact {
        display: grid;
        grid-template-columns: 100%;
        justify-content: space-between;
        padding: 75px;
        align-content: center;
        margin-bottom: 10px;
    }
    
    .contactme {
        grid-column: 1;
        justify-content: right;
    }
    
    .contactme h2 {
        text-align: center;
    }
    .contact-link {
        margin-top: 50px;
        margin-bottom: 50px;
        align-items: center;
    }
    .contact-link a {
        font-size: 15px;
        font-family: "Roboto", sans-serif;
        margin: 20px;
        font-weight: lighter;
        letter-spacing: 2px;
    }
    .contact-link svg {
        margin: 20px;
    }
    
}
@media (min-width: 1024px){
    .contact {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 100%;
        justify-content: space-between;
        padding: 75px;
        align-content: center;
        margin-bottom: 10px;
    }
    
    .contactme {
        grid-column: 2;
        grid-row: 1;
        justify-content: right;
    }
    
    .contactme h2 {
        text-align: right;
        font-size: 70px;
    }
    .contact-link {
        margin-top: 50px;
        margin-bottom: 50px;
        align-items: center;
    }
    .contact-link a {
        font-size: 15px;
        font-family: "Roboto", sans-serif;
        margin: 20px;
        font-weight: lighter;
        letter-spacing: 2px;
    }
    .contact-link svg {
        margin: 20px;
      
    }
}
@media (min-width: 1440px){
    .contact {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 100%;
        justify-content: space-between;
        padding: 75px;
        align-content: center;
        margin-bottom: 10px;
    }
    
    .contactme {
        grid-column: 2;
        grid-row: 1;
        justify-content: right;
    }
    
    .contactme h2 {
        text-align: right;
        font-size: 70px;
    }
    .contact-link {
        margin-top: 50px;
        margin-bottom: 50px;
        align-items: center;
    }
    .contact-link a {
        font-size: 20px;
        font-family: "Roboto", sans-serif;
        margin: 20px;
        font-weight: lighter;
        letter-spacing: 2px;
    }
    .contact-link svg {
        margin: 20px;
    }
}


