
@media (min-width: 300px){
    .contact {
        display: grid;
        grid-template-columns: 100%;
        justify-content: space-between;
        padding: 40px;
        align-content: center;
        margin-bottom: 10px;
    }
    .form {
        grid-column: 1;
        background-color: #113132;
        padding: 40px;
        padding-top: 70px;
        padding-bottom: 70px;
        color: ivory;
    }
    
    .contactme {
        grid-column: 1;
        justify-content: center;
    }
    
    .contactme h2 {
        text-align: center;

    }
    .contact-link {
        border: #113132 1px solid;
        background-color: #113132 ;
        margin-top: 50px;
        margin-bottom: 50px;
        align-items: center;
    }
    .contact-link a {
        font-size: 10px;
        color: #D99E30;
        font-family: "Roboto", sans-serif;
        margin: 20px;
        font-weight: lighter;
    }
    .contact-link svg {
        margin: 20px;
        color: #D99E30;
    }
}
@media (min-width: 768px){
    .contact {
        display: grid;
        grid-template-columns: 100%;
        justify-content: space-between;
        padding: 75px;
        align-content: center;
        margin-bottom: 10px;
    }
    .form {
        grid-column: 1;
        background-color: #113132;
        padding: 40px;
        padding-top: 70px;
        padding-bottom: 70px;
        color: ivory;
    }
    
    .contactme {
        grid-column: 1;
        justify-content: right;
    }
    
    .contactme h2 {
        text-align: center;
        font-family: 'Merriweather', serif;
        color: #D99E30;
    }
    .contact-link {
        border: #113132 1px solid;
        background-color: #113132 ;
        margin-top: 50px;
        margin-bottom: 50px;
        align-items: center;
    }
    .contact-link a {
        font-size: 15px;
        color: #D99E30;
        font-family: "Roboto", sans-serif;
        margin: 20px;
        font-weight: lighter;
        letter-spacing: 2px;
    }
    .contact-link svg {
        margin: 20px;
        color: #D99E30;
    }
    
}
@media (min-width: 1024px){
    .contact {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 100%;
        justify-content: space-between;
        padding: 75px;
        align-content: center;
        margin-bottom: 10px;
    }
    .form {
        grid-column: 1;
        grid-row: 1;
        background-color: #113132;
        padding: 40px;
        padding-top: 70px;
        padding-bottom: 70px;
        color: ivory;
    }
    
    .contactme {
        grid-column: 2;
        grid-row: 1;
        justify-content: right;
    }
    
    .contactme h2 {
        text-align: right;
        font-family: 'Merriweather', serif;
        color: #D99E30;
        font-size: 70px;
    }
    .contact-link {
        border: #113132 1px solid;
        background-color: #113132 ;
        margin-top: 50px;
        margin-bottom: 50px;
        align-items: center;
    }
    .contact-link a {
        font-size: 15px;
        color: #D99E30;
        font-family: "Roboto", sans-serif;
        margin: 20px;
        font-weight: lighter;
        letter-spacing: 2px;
    }
    .contact-link svg {
        margin: 20px;
        color: #D99E30;
    }
}
@media (min-width: 1440px){
    .contact {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 100%;
        justify-content: space-between;
        padding: 75px;
        align-content: center;
        margin-bottom: 10px;
    }
    .form {
        grid-column: 1;
        grid-row: 1;
        background-color: #113132;
        padding: 40px;
        padding-top: 70px;
        padding-bottom: 70px;
        color: ivory;
    }
    
    .contactme {
        grid-column: 2;
        grid-row: 1;
        justify-content: right;
    }
    
    .contactme h2 {
        text-align: right;
        font-family: 'Merriweather', serif;
        color: #D99E30;
        font-size: 70px;
    }
    .contact-link {
        border: #113132 1px solid;
        background-color: #113132 ;
        margin-top: 50px;
        margin-bottom: 50px;
        align-items: center;
    }
    .contact-link a {
        font-size: 20px;
        color: #D99E30;
        font-family: "Roboto", sans-serif;
        margin: 20px;
        font-weight: lighter;
        letter-spacing: 2px;
    }
    .contact-link svg {
        margin: 20px;
        color: #D99E30;
    }
}





