h2 {
	font-family: 'Merriweather', serif;
	margin-bottom: 50px;
	color: #D99E30;
}


@media (min-width: 375px){
	.Landingpage {
		display: grid;
		grid-template-columns: 10% 80% 10%;
		grid-template-rows: 20% 60% 20%;
		background: url(images/9.jpg);
        height: 100vh;
        width: 90%;
		margin: 0 auto;
        position: relative;
		align-items: center;
		justify-content: center;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 60px;
	}
    .heroText{
		grid-column: 2/3;
		grid-row: 2/3;
		width: 100%;
		position: absolute;
	}
	.heroText h1{
		font-family: Verdana, sans-serif;		
		letter-spacing: 0.75em;
		font-size: 2.5em;
		text-align: center;
	}
	.heroText h3{
		font-size: 3vw;
		font-family: 'Merriweather', serif;
		letter-spacing: 0.75em;
		text-align: center;
	}
	.heroText a{
		font-size: 1em;
	}
	h2 {
		font-size: 40px;
		text-align: center;
	}
}
@media (min-width: 768px){
	.Landingpage {
		display: grid;
		grid-template-columns: 10% 80% 10%;
		grid-template-rows: 20% 60% 20%;
		background: url(images/9.jpg);
        height: 100vh;
        width: 90%;
		margin: 0 auto;
        position: relative;
		justify-content: center;
		align-items: center;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 60px;
		
	}
    .heroText{
		grid-column: 2/3;
		grid-row: 2/3;
		width: 100%;
		height: 50%;
		position: absolute;
	}
	.heroText h1{
		font-family: Verdana, sans-serif;		
		letter-spacing: 0.75em;
		font-size: 3em;
		color: #D99E30;
		text-align: center;
	}
	.heroText h3{
		text-align: center;
		font-size: 1.5em;
		letter-spacing: 0.75em;
		font-family: 'Merriweather', serif;

	}
	.heroText a{
		font-size: 20px;
	}
h2 {
	font-size: 40px;
	text-align: center;
}
}
@media (min-width: 1024px){
	.Landingpage {
		display: grid;
		grid-template-columns: 20% 60% 20%;
		grid-template-rows: 20% 60% 20%;
		background: url(images/9.jpg);
        height: 100vh;
        width: 90%;
		margin: 0 auto;
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 60px;
		text-align: center;
	}
	.heroText {
		grid-column: 2/3;
		grid-row: 2/3;
		width: 100%;
		height: 80%;
		position: absolute;

		}
	.heroText h1{
		font-size: 7vw;
		letter-spacing: 0.75em;
		font-family: Verdana, sans-serif;
	
}
	.heroText h3{
		text-align: center;
		font-size: 3vw;
		letter-spacing: 0.5em;
		font-family: 'Merriweather', serif;

		
		}
	.heroText a{
		font-size: 1.5vw;
		letter-spacing: 5px;
		}
	h2 {
			font-size: 60px;
		}

}
@media (min-width: 1440px){	
	.Landingpage {
		display: grid;
		grid-template-columns: 20% 60% 20%;
		grid-template-rows: 20% 60% 20%;
		background: url(images/9.jpg);
        height: 100vh;
        width: 90%;
		margin: 0 auto;
        position: relative;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 60px;
		text-align: center;
	}
	.heroText {
		grid-column: 2/3;
		grid-row: 2/3;
		width: 100%;
		height: 80%;
		position: absolute;

		}
	.heroText h1{
		font-size: 7vw;
		letter-spacing: 0.75em;
		font-family: Verdana, sans-serif;
	
}
	.heroText p{
		font-size: 3vw;
		letter-spacing: 0.5em;
		font-family: 'Merriweather', serif;
		text-align: center;
		}
	.heroText a{
		font-size: 1.5vw;
		letter-spacing: 5px;
		}
	h2 {
		font-size: 70px;
	}
}


	


