nav {
	width: 100vw;
	transition: 0.5s ease;
	height: 60px;
	grid-column: 2/3;
}
.nav ul{
	display: grid;
	grid-template-columns: auto auto auto auto;
	align-items: center;
	justify-content: space-evenly;
	margin: 0 auto;
}

#h{
	grid-column: 1;
}
#a {
	grid-column: 2;
}
#p {
	grid-column: 3;
}
#c {
	grid-column: 4;
}
.nav a {
	text-decoration: none;
	background: transparent;
	
}
.nav li {
	background: transparent;
}
 
.nav a:hover {
	background: transparent;
}

nav a {
	background: transparent;
}


@media (min-width: 300px) {
	.nav a {
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;		
		font-size: 1.25em;
	}
}
@media (min-width: 768px) {
    .nav a {
		font-size: 1.25em;
		letter-spacing: 10px;
		}   
}
@media (min-width: 1024px) {
    .nav a {
		font-size: 1.25em;
		letter-spacing: .5vw;
		
	}
}
@media (min-width: 1440px){
	.nav a {
		font-size: 1.25em;
		letter-spacing: 1vw;
	}
}









