

@media (min-width: 300px){
  .projects {
    height: 100%;
    padding: 20px;
  
  }
  .projects-view{
    display: grid;
    grid-template-columns: 90%;
    justify-content: space-between;
    align-content: center;
  }
  .card{
    height: 50vh;
  }
  .over{
    margin: 10px; 
    margin-top: 60px
  }
}
@media (min-width: 768px) {
  .projects {
    height: 100%;
    padding: 75px;
  }
  .projects-view{
    justify-content: space-between;
    align-content: center;
  }
  .card{
    height: 50vh;
  }
  .over{
    margin: 10px; 
    margin-top: 60px;
  }
  .projects h2 {
    text-align: center;
  }
}
@media(min-width: 1000px){
  .projects {
    height: 100%;
    padding: 75px;
  
  }
    .projects-view{
      justify-content: space-between;
      align-content: center;
  } 
  .card{
    height: 40vh;
  }
  .projects h2 {
    text-align: left;
  }
}
@media(min-width: 1440px) {
  .projects {
    height: 100%;
    padding: 75px;
  
  }
  .projects-view{
    justify-content: space-between;
    align-content: center;
  }
  
  .card{
    height: 50vh;
  }
  .over{
    margin: 10px; 
    margin-top: 60px
  }
.projects h2 {
  text-align: left;
}
}





